:host {
  display: block;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  outline: none;
}

mat-menu {
  position: absolute;
}