<mat-progress-spinner
  *ngIf="!garages"
  class="loader"
  color="primary"
  mode="indeterminate"
  value="50">
</mat-progress-spinner>
<h2
  *ngIf="garagesAvailable"
  class="title">Available</h2>
<app-garages-item
  *ngFor="let garageEl of garagesAvailable"
  [garage]="garageEl"
  [active]="true">
</app-garages-item>
<h2
  *ngIf="garagesUnavailable"
  class="title">Unavailable</h2>
<app-garages-item
  *ngFor="let garageEl of garagesUnavailable"
  [garage]="garageEl"
  [active]="false">
</app-garages-item>