<agm-map
  [zoom]="zoom"
  [fitBounds]="true"
  maxZoom="17">
  <agm-marker
    *ngFor="let marker of markers"
    [latitude]="marker['geometry']['coordinates'][1]"
    [longitude]="marker['geometry']['coordinates'][0]"
    [agmFitBounds]="true"
    [iconUrl]="(marker['properties']['layers']['parking.garage']['data']['State'] == 'ok') ? markerIconActive : markerIconDisabled"
    >
    <agm-info-window [disableAutoPan]="true">
      <h3 *ngIf="marker['properties']['title']">{{ marker['properties']['title'] }}</h3>
    </agm-info-window>
  </agm-marker>
</agm-map>
<button
  mat-raised-button
  color="primary"
  [disabled]="markers.length > 1"
  (click)="setMarkers()">
  Show all parking garages
</button>